<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contador</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section>
     <div id="val">
        <h1 id="title">Contador</h1>
        <h1 id="num">0</h1>
    </div>
    <div id="btns">
        <input type="button" id="btdec" onclick="decrease()" value="DIMINUIR">
        <input type="button" id="btres" onclick="reset()" value="RESETAR">
        <input type="button" id="btinc" onclick="increase()" value="AUMENTAR">
    </div>
    <div id="content"></div>
    </section>
    <script src="script.js"></script>
</body>
</html>